<div class="h-100 w-100 d-flex-column mt-3">
  <div class="row justify-content-between d-flex">
    <div class="col-1 mt- d-flex justify-content-left">
      <button class="d-sm-none btn px-0 mr-3" id="go-back<%= room.name %>" onclick="helloworld()" title="Go Back"
        data-toggle="collapse" data-toggle="#sidepane"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      <h4 class="mb-0 pt-1"><%= room.name %></h4>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="" data-toggle="tooltip" title="Mute this chat"><i class="fa fa-volume-off"
            aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" data-toggle="tooltip" title="Pin this chat"> <i class="fa fa-thumb-tack"
            aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <hr class="bg-light">
  <div class="">
    <div class="text-left">
      <div class="d-flex flex-column mb-3 messages" id="<%=room.name%>_messages">
        <% if (room.messages.length <= 0) { %>
          <div class="d-flex justify-content-center" id="such-empty-<%= room.name %>">
            <h4>Wow, Such Empty</h4>
          </div>
        <% } %>
        <% room.messages.forEach(message => { %>
        <div class="msg"> <%= message.sender_name %>:
          <i class="time"> <%= message.timestamp.toLocaleString('en-US',{hour:'numeric',minute:'numeric',hour12:true});%> </i>
          <p class="message"> <%= message.data %> </p>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('../partials/sendmessage', { "roomname": room.name }) %>
  </div>
</div>
<script>
  let helloworld = () => {
    $('.mainpan').collapse('hide');
    $('#sidepane').collapse('show');
  }
</script>