<%- include('../includes/head') %>

<body>

  <div class="container-fluid d-flex justify-content-center px-0 mx-0 " id="app-container">
    <div class="row w-100 text-center">
      <%- include('../partials/appmodal.ejs') %> 
      
      <div class="col-sm-2 bg-grey justify-content-center d-flex w-100 mx-0 px-0">
        <%- include('../includes/sidepane.ejs') %> 
      </div>
      <div class="col-sm-10 bg-dark">
        <%- include('../includes/mainpane.ejs') %> 
      </div>
    </div>
  </div>

</body>

<%- include('../includes/end') %>
<script src="socket.io-client/dist/socket.io.js"></script>
<script> 
  const userID = `<%= user._id %>`;
  var stripePublicKey = '<%= stripePublicKey %>';
  var socketIO = io();
</script>
  <script src="scripts/stripe.js"></script>
<script src="scripts/app.js"></script>